<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.alibaba.com/schema/stat"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.alibaba.com/schema/stat http://www.alibaba.com/schema/stat.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">
        <!--开启注解扫描器-->
        <context:component-scan base-package="com.hwua"></context:component-scan>
        <!--&lt;!&ndash;引入数据库连接配置文件&ndash;&gt;-->
        <!--<context:property-placeholder location="classpath:JDBC.properties"></context:property-placeholder>-->
        <!--开启SpringMVC注解功能-->
        <!--<mvc:annotation-driven></mvc:annotation-driven>-->
        <!--创建视图解析器,为视图拼接路径并加载-->
        <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
                <property name="prefix" value="/WEB-INF/view"></property>
                <property name="suffix" value=".jsp"></property>
        </bean>
        <!--创建数据库连接池-->
        <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
                <property name="username" value="${jdbc.username}"></property>
                <property name="password" value="${jdbc.password}"></property>
                <property name="url" value="${jdbc.url}"></property>
                <property name="driverClassName" value="${jdbc.driver}"></property>
                <property name="initialSize" value="${jdbc.initialSize}"></property>
                <property name="maxActive" value="${jdbc.maxActive}"></property>
                <property name="maxWait" value="${jdbc.maxWait}"></property>
        </bean>
        <!--创建事务管理器-->
        <bean id="TransactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
                <property name="dataSource" ref="dataSource"></property>
        </bean>
        <!--开启事务管理器-->
        <tx:annotation-driven/>
</beans>